<link rel="stylesheet" href="/css/modals/tracker-transfer.css" />
<button id="transfer-tracker-btn">Transfer trackers</button>
<dialog id="tracker-transfer-modal" class="dialog">
  <div id="tracker-transfer-modal-content">
    <input id="user-id" type="text" placeholder="Paste the id here">
    <button id="close-tracker-transfer-modal" class="not-base-style">×</button>
    <button id="import-trackers">Import</button>
    <button id="export-trackers">Export</button>
</dialog>
<script type="module" charset="utf8" src="/js/modals/tracker-transfer.js"></script>
