<button id="transfer-tracker-btn">Transfer trackers</button>
<dialog id="tracker-transfer-modal" class="dialog">
  <div class="dialog-content">
    <input type="text">
    <button id="inport-trackers">Import</button>
    <button id="export-trackers">Export</button>
</dialog>