<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Email tracker</title>
	</head>
	<body>
		<h1>Email tracker</h1>
		<section>
			<button>Create new tracker</button>
		</section>
		<section>
			<h2>Trackers</h2>
			<div class="tracker">
				<div class="tracker-info">
					<p>Tracker (e0083737-1b8e-4f20-a725-0c7c38b13cf2)</p>
					<p>Created at: 2023-10-01</p>
					<p>Last opened: 2023-10-02</p>
				</div>
				<div class="tracker-actions">
					<button data-id="e0083737-1b8e-4f20-a725-0c7c38b13cf2">
						Start tacking
					</button>
					<button data-id="e0083737-1b8e-4f20-a725-0c7c38b13cf2">
						Stop tracking
					</button>
					<button data-id="e0083737-1b8e-4f20-a725-0c7c38b13cf2">Detail</button>
					<button data-id="e0083737-1b8e-4f20-a725-0c7c38b13cf2">Delete</button>
					<button
						class="copy-btn"
						data-id="e0083737-1b8e-4f20-a725-0c7c38b13cf2"
					>
						Copy
					</button>
				</div>
			</div>
		</section>
	</body>

	<script type="module" charset="utf8" src="/js/index.js"></script>
</html>
