<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Email Tracker</title>
		<link rel="stylesheet" href="/css/fonts.css" />
		<link rel="stylesheet" href="/css/base.css" />
		<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<h1>Email Tracker</h1>
			<form id="new-tracker" action="/trackers" method="POST">
				<input
					type="text"
					name="tracker-name"
					id="tracker-name"
					placeholder="Name of the tracker"
					required
				/>

				<button id="new-tracker-btn" type="submit">Create</button>
			</form>
			<button id="new-tracker-btn">Create new tracker</button>
		</header>

		<main><%- include('sections/trackers') %></main>

		<!-- The name goes to https://catalin-trandafir.com -->
		<footer>
			<p>
				Made by
				<a id="footer-link" href="https://catalin-trandafir.com"
					><b class="highlight">Catalin Trandafir</b></a
				>
			</p>
		</footer>

		<script type="module" charset="utf8" src="/js/index.js"></script>
	</body>
</html>
