<link rel="stylesheet" href="/css/sections/theme-toggle.css" />

<section>
	<div>
		<input type="checkbox" class="checkbox" id="checkbox" />
		<label for="checkbox" class="checkbox-label">
			<i><img src="/img/dark_mode.webp" /></i>
			<i><img src="/img/light_mode.webp" /></i>
			<span class="ball"></span>
		</label>
	</div>
</section>
<script
	type="module"
	charset="utf8"
	src="/js/sections/theme-toggle.js"
></script>
